@import "variables";

.TodoApp {
    //border: 1px dashed #f00;

    .input-group {
        margin-bottom: 20px;
    }

    .remove-archived {
        color: $brand-warning;
    }

    .remove-all {
        color: $brand-danger;

    }

}
